<style>
  .img-container {
    margin-top: 8%;
  }
  .input-height {
    height: 50px;
  }
</style>

<%= render 'shared/header' %>
<div class="container">
  <div class="img-container text-center">
    <%= link_to root_path do %>
      <%= image_tag '/ringle.jpeg' %>
    <% end %>
  </div>
  <div class="search-container mt-5">
    <%= form_tag('/musics', method: :get, class: "form-inline row mx-3") do %>
      <div class="col-2"></div>
      <div class="col-8 d-flex align-items-center flex-nowrap">
        <%= text_field_tag :music_search, "", class: "form-control input-height no-border-radius search-field", placeholder: "곡명, 가수명, 앨범명을 입력하세요." %>
        <button class="btn btn-primary input-height no-border-radius" type="submit"><i class="fas fa-search"></i></button>
      </div>
      <div class="col-2"></div>
    <% end %>
  </div>
</div>
