<%= render 'shared/music_controller', sort_condition: sort_condition %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">곡명</th>
      <th scope="col">아티스트명</th>
      <th scope="col">앨범명</th>
      <th scope="col">좋아요</th>
    </tr>
  </thead>
  <tbody>
    <% if musics.any? %>
      <% musics.each do |music| %>
        <tr>
          <% cache(music) do %>
            <th scope="row"></th>
            <td><input class="<%= sort_condition %>_check_music" type="checkbox" value=<%= music.id %>></td>
            <td><%= music.title %></td>
            <td class="ringle-color"><strong><%= music.artist_name %></strong></td>
            <td><%= music.album_name %></td>
          <% end %>
          <td id="<%= sort_condition %>_music_love_<%= music.id %>">
            <%= render 'music_love', music: music, sort_condition: sort_condition %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <th scope="row"></th>
        <td>찾으시는 결과가 존재하지 않습니다.</td>
        <td></td><td></td><td></td><td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  <%= render 'shared/select_all_checkbox', sort_condition: sort_condition %>
  <%= render 'shared/add_playlists', sort_condition: sort_condition %>
</script>
